{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-underscore-dangle": "off",
    "one-var": "off",
    "camelcase": "off",
    "no-bitwise": "off",
    "func-names": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "prefer-destructuring": "off",
    "prefer-template": "off",
    "no-restricted-syntax": "off"
  }
}