{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-underscore-dangle": "off",
    "one-var": "off",
    "camelcase": "warn",
    "no-restricted-syntax": "off"
  }
}
